<h1>About page</h1>
<div class="jumbotron">
    <h3><strong>Node/Express</strong> app using <strong>MongoDB</strong> for database, mongoose for connecting with database.</h3>
    <h4>Using <strong>Handlebars</strong> for view/templating engine.</h4>
    <p>Version: 1.0.0</p>
</div>