<div class="container">
    <div class="jumbotron">
        <h1>Idea Jot</h1>
        <p>A portal where you can add ideas and keep them safe, you never know when this or any idea may become a million dollar idea.</p>
        <p>We encrypt the data before we store it in the database</p>
        <div>
            {{#if user}}
        <a href="/ideas/add" class="btn btn-primary">Add Idea</a>
        {{else}} {{/if}}
    </div>
    </div>
</div>