{{#each ideas}}
<div class="card card-body mb-3">
  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <a class="btn btn-dark btn-block" href="/ideas/edit/{{id}}">Edit</a>
</div>

{{else}}

  <p>No Idea data available....</p>

{{/each}}