<div class="row">
  <div class="card card-body">
    <div class="col-md-6 mx-auto">
      <h3 class="text-center">
        Register User
      </h3>
      <form action="/user/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="name" class="form-control" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input name="email" type="email" class="form-control" value="{{email}}" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password" type="password" class="form-control" {{password}} required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password2" type="password" class="form-control" {{password2}} required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>